[package]
name = "shiny-robots"
version = "0.1.0"
authors = ["Sam Rijs <srijs@airpost.net>"]
edition = "2018"

[workspace]
members = [
    ".",
    "./libs/badge",
]

[dependencies]
badge = { path = "./libs/badge" }

anyhow = "1"
cadence = "0.25"
derive_more = "0.99"
futures = "0.3"
hyper = { version = "0.14.3", features = ["full"] }
indexmap = { version = "1", features = ["serde-1"] }
lru_time_cache = "0.11.1"
maud = "0.22.1"
pulldown-cmark = "0.8"
once_cell = "1"
pin-project = "1"
relative-path = { version = "1.3", features = ["serde"] }
route-recognizer = "0.3"
rustsec = "0.23"
crates-index = "0.16"
semver = { version = "1.0.0-rc.1", features = ["serde"] }
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
slog = "2"
slog-async = "2"
slog-term = "2"
tokio = { version = "1.0.1", features = ["full"] }
toml = "0.5"
font-awesome-as-a-crate = "0.1.2"

[build-dependencies]
sass-rs = "0.2"
sha-1 = "0.9"
