@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

html {
    padding: 0;
    margin: 0;
    background: #eee;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding: 30px 40px;
    margin: 0 auto;
    background: #fff;
    border-left: 5px solid #aaa;
    border-right: 5px solid #aaa;
    width: 800px;
}

pre {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
    white-space: pre-wrap; 
    background: #dedede;
    color: #555;
    padding: .5em .7em;
}

code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", Inconsolata, monospace;
    background: #dedede;
    padding: .1em .3em;
    border-radius: .3em;
    color: #555;
}

h1 code {
    letter-spacing: -0.02em;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}

tr:nth-child(even) {
    background: #f3f3f3;
}

tr:nth-child(odd) {
    background: #fff;
}

td {
    padding: .5em .7em;
}

span.status {
    padding: .1em .3em;
    border-radius: .3em;
    color: #fff;
}

span.status.up-to-date {
    background: #97ca00;
}

span.status.outdated {
    background: #dfb317;
}
